.mainNav {
    position: relative;
    height: 100px;
    width: 100%;
}

.center {
    text-align: center;
    line-height: 100px;
}

.goBack {
    width: 30px;
    height: 30px;
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    
} 