.container {
   margin: 15px;
}


.inputPlayers {
    margin-top: 20px;
}

label {
    margin-top: 10px;
}

input{
    margin-right: 5px;
}

.label {
    width: 100%;
    display: block;
}

.centerText {
    text-align: center;
    margin-top: 10px;
}