.scoreBoard {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;    
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    background: linear-gradient(to bottom, rgba(21, 74, 188, 0.422) 0.1%, rgba(26, 137, 211, 0.457) 51.5%, rgba(29, 145, 207, 0.645) 100.2%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
    font-size: 20px;
    
}

.item {
    display: flex;
    border: 2px solid #2726263a;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.scoreBoard .item:nth-child(1),
.scoreBoard .item:nth-child(5) {
    justify-content: start;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 40px;
}

.points {
    font-size: 24px;
}