.container {
    position: relative;
}
  
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup {
    position: relative;
    background: #3248a0;
    width: 300px;
    height: 510px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inputPopup {
    margin-top: 15px;
    width: 100%;
    height: 30px;
}

.list {
    height: 380px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list > li {
    background: #233da4;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.list > li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.list > .selected {
    
    background: #4c68db;
}

.buttons {
    display: flex;
    justify-content: space-between;
    
}

.btn{
    background: linear-gradient(to top,#2485f5 ,#6433E0);
    background-color: #2485f5;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #2D2D2D;
}

.btn:hover{
    background: linear-gradient(to right,#5896f6 ,#7d5ee3);
    background-color: #5896f6;
}
.btn:active{
    transform: scale(0.95);
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.center {
    margin-top: 15px;
    text-align: center;
}