.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 24px; 
}


.active {
  font-weight: bold;
  border-bottom: 5px solid rgb(130, 8, 245);
}

.btn {
  margin: 0;
}